body {
    background-image: url('https://raw.githubusercontent.com/itofficial881/itofficial881.github.io/main/IMG_3744.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
